/* css styles */

#quarto-document-content {
  width: 800px;
}

#quarto-margin-sidebar {
  margin-right: -900px;
  margin-left: 100px;
}

table tr td:nth-child(3) {
    width: 280px; /* Adjust this value as needed */
}
